<div class="row justify-content-center pt-3">
    <mat-form-field appearance="fill">
        <mat-label>House</mat-label>
        <mat-select [formControl]="selected">
            <mat-option *ngFor="let item of house" [value]="item">
                {{item | titlecase}}
            </mat-option>
        </mat-select>
    </mat-form-field>


</div>


<app-table *ngIf="dataSource" [data]="dataSource"></app-table>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#3ba29f" type="ball-clip-rotate">
</ngx-spinner>