<div class="row justify-content-center pt-3">
    <button mat-raised-button color="primary" (click)="open(content)">Add Student</button>
</div>

<app-table *ngIf="dataSource" [data]="dataSource"></app-table>
<ng-template #content>
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">Add Student</h6>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row>">
            <app-add-student (studentResponse)="studentData($event)"></app-add-student>
        </div>
    </div>
</ng-template>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#3ba29f" type="ball-clip-rotate">
</ngx-spinner>