<div class="row pt-4 pb-0 pt-md-4">
  <div class="col-12 col-lg-3 d-flex d-lg-block pt-1">
    <div class="container">
      <div class="col-12">
        <section class="contenedor">
          <div class="casa" id="Gryffindor"></div>
        </section>
        <section class="contenedor">
          <div class="casa" id="Hufflepuff"></div>
        </section>
        <section class="contenedor">
          <div class="casa" id="Ravenclaw"></div>
        </section>
        <section class="contenedor">
          <div class="casa" id="Slytherin"></div>
        </section>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8 mx-md-auto col-lg-9 pt-4">
    <nav mat-tab-nav-bar mat-stretch-tabs>
      <a mat-tab-link *ngFor="let link of links" (click)="activeLink = link" [active]="activeLink == link"
        [routerLink]="link.url"> {{link.name}} </a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>