html, body{
    height: 100%;
    margin: 0px;
  }
  #hogwarts-background{
    width: 100%;
    height: 100%;
    background-image: url("/assets/hogwarts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
  }
  #form-wrapper{
    width:90%;
    max-width: 500px;
    height: 500px;
    margin:auto;
    background-color: rgba(0,0,0,0.6);
  }

  .contenedor {
    width: 180px;
    margin: 0 auto;
    display: flex;
  }
  
  .casa {
    /*distribución*/
    height: 200px;
    flex-grow: 1;
    /*text*/
    font-family: Harry Potter, Arial;
    color: white;
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
    /*background-image*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110px 150px;
    /*border-image*/
    border-bottom: 30px solid transparent;
    border-image: url(https://raw.githubusercontent.com/NestorPlasencia/img/master/border-triangle.png) 0% 0% 100% 0% stretch;
  }
  
  #Gryffindor {
    background-color: #A80102;
    background-image: url("https://raw.githubusercontent.com/NestorPlasencia/img/master/Gryffindor.png");
  }
  
  #Hufflepuff {
    background-color: #786254;
    background-image: url("https://raw.githubusercontent.com/NestorPlasencia/img/master/Hufflepuff.png");
  }
  
  #Ravenclaw {
    background-color: #31446F;
    background-image: url("https://raw.githubusercontent.com/NestorPlasencia/img/master/Ravenclaw.png");
  }
  
  #Slytherin {
    background-color: #097146;
    background-image: url("https://raw.githubusercontent.com/NestorPlasencia/img/master/Slytherin.png");
  }