<div class="container-fuid">
    <div class="row col-12">
        <mat-form-field style="width: 100%;">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
    </div>
    <div class="row col-12">
        <table mat-table [dataSource]="data" matSort style="width: 100%;" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">
                    Name </th>
                <td mat-cell *matCellDef="let row">{{row.name | titlecase}} </td>
            </ng-container>

            <ng-container matColumnDef="patronus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Patronus</th>
                <td mat-cell *matCellDef="let row">{{row.patronus | titlecase}} </td>
            </ng-container>
            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
                <td mat-cell *matCellDef="let row"> {{row.dateOfBirth | age}}</td>
            </ng-container>

            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let row" class="pr-3">
                    <img class="avatar" [src]="row.image">
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="text-center"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="mat-elevation-z8"></mat-paginator>
    </div>
</div>