.container-dd {
    // width: 450px;
    // height: 200px;
    padding: 2rem;
    text-align: center;
   
  
    input {
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  
    label {
      width: 183px;
      height: 44px;
      padding: 8px 16px;
      background: #ededed 0% 0% no-repeat padding-box;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      opacity: 1;
    }
  
    h3 {
      text-align: center;
      font: normal normal normal 16px/18px Arial;
      letter-spacing: 0px;
      color: #606060;
      opacity: 1;
    }
  }
  .img-preview {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 0px 2px 4px #00000024;
    img {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center center;
    }
}