<form [formGroup]="form" class="form" novalidate>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <label class="lbl-add" for="name">Name</label>
            <input formControlName="name" type="text" class="form-control lbl-add ">
        </div>
        <div class="col-md-12">
            <label class="lbl-add" for="lastname">Patronus</label>
            <input formControlName="patronus" type="text" class="form-control lbl-add">
        </div>
        <div class="col-md-12 pb-3">
            <label for="age" class="lbl-add">Age</label>
            <input type="number" formControlName="age" id="age" class="form-control" />

        </div>
        <div class="col-md-6">
            <div class="img-preview">
                <img [src]="this.form.get('image').value ? this.form.get('image').value  : '/assets/user.png'"
                    alt="img">
            </div>
        </div>
        <div class="col-md-6">
            <div class="container-dd" appDnd>
                <input type="file" #fileDropRef id="fileDropRef" multiple
                    (change)="fileBrowseHandler($event.target.files);" />
                <span class="icon-description" style="width: 50px; height: 50px;"></span>
                <label for="fileDropRef">Elegir archivo</label>
            </div>
        </div>

        <div class="col-md-12 text-right mt-2">
            <button type="submit" [disabled]="!form.valid" class="btn btn-primary" (click)="save()">Save</button>
        </div>
    </div>
</form>